{% extends 'base.html' %}
{% block head %}
<script defer>
    let selector = document.getElementById('selector')
    selector.onclick = function () {
        
    }
</script>
{% endblock %}
{% block title %}Editor de usuario{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Buscar Usuario</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.selector.label(class="form-label") }}
            {{ form.selector(class="form-control") }}
        </div>
        <div class="form-group" id="id">
            {{ form.id.label(class="form-label") }}
            {{ form.id(class="form-control") }}
        </div>
        <div class="form-group" id="username">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group" id="email">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
    </form>
</div>
{% endblock %}